body {
  background: floralwhite;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.5em;
  color: floralwhite;
  margin: 0;
}

.container {
  background: springgreen;
  display: table;
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}

input, button {
  background: floralwhite;
  color: springgreen;
  border: none;
  font-size: .8em;
  font-family: 'Lora', serif;
}

button:hover{
  background: springgreen;
  color: floralwhite;
}
.add-button {
  border-radius: 50%;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.note .delete-note {
  background: springgreen;
  color: floralwhite;
  margin-left: 10px;
  cursor: pointer;
  visibility: hidden;
}
.note:hover .delete-note {
  visibility: visible;
}
